body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), 
              url("../images/bg4.jpg");
  background-size: cover; /* Face imaginea să acopere tot ecranul */
  background-position: center; /* O centrează */
  background-repeat: no-repeat; /* Evită repetarea */
  background-attachment: fixed; /* Fixează fundalul pe scroll */
}



.navbar {
  background: #004543;
  padding: 0.9375rem;
  text-align: center;

}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 0;
  
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.products {
  display: flex;
  justify-content: center;
  gap: 5rem !important ;
  margin-top: 10rem !important; 
  flex-wrap: wrap;
}

.product {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.9375rem;
  border-radius: 0.625rem;
  text-align: center;
  cursor: pointer;
}
.product img {
  width: 9.375rem;
  height: auto;
}
.product p {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
